<!-- container -->
<div class="container">
	<div class="wrapper">
	    <header class="heading">
    		<h1>Мистецтво PostgreSQL</h1>
    		<h4>Книга, яка вчить розробників SQL: вчить заміняти тисячі рядків коду простими запитами!</h4>
    	</header>
    	<ul class="services_list">
    	    <li>
    	        <p><img src="images/icons/plus.png" alt="" /></p>
    	        <p><strong>Новий розділ</strong></p>
    	        <p>Це друге видання книги містить повністю новий
    	         розділ про розширення PostgreSQL.</p>
                <p>Написана автором команди <tt>CREATE EXTENSION</tt></p>
    	    </li>
    	    <li>
    	        <p><img src="images/icons/bookmark.png" alt="" /></p>
    	        <p><strong>Друге видання</strong></p>
    	        <p> Мистецтво PostgreSQL - це нова назва книги <i>“Mastering
    	         PostgreSQL in Application Development”</i>, визнаної одним 
    	         з найкращих ресурсів для вивчення SQL!</p>
    	    </li>
    	    <li>
    	        <p><img src="images/icons/arrow.png" alt="" /></p>
    	        <p><strong>Покращений дизайн книги</strong></p>
    	        <p>Завдяки схвальним відгукам, які отримало перше видання
    	        книги, друге видання тепер доступне у друкованому форматі з м'якою обкладинкою, що ідеально доповнить
    	        вашу бібілотеку!</p>
    	    </li>
    	</ul>
	</div>
</div>
<!-- /container -->
