<!-- welcome_slider -->
<div class="welcome_slider">
    <ul>
    	<li data-cover=".cover">
    	    <img class="cover" src="images/demo/slide.jpg" alt="" />
    	    <div class="wrapper">
    	       <img src="images/demo/welcome_logo.png" alt="" />
    	       <p><a data-slide=".bestvalue" class="button button_large" href="#">купити зараз</a><a data-slide=".subscribe_block" class="button button_large" href="#">безкоштовний розділ</a></p>
    	    </div>
    	</li>
    	<li data-cover=".cover"><img class="cover" src="images/demo/slide2.jpg" alt="" /></li>
    	<li data-cover=".cover"><img class="cover" src="images/demo/slide3.jpg" alt="" /></li>
    </ul>
</div>
<!-- /welcome_slider -->
