 
<!-- footer -->
<footer class="footer">
	<div class="wrapper">
	    <div class="about_block">
	        <h6>про автора</h6>
	        <p>Привіт! Мене звати Дімітрі Фонтейн, і протягом останніх 20 років я працюю і сприяю розвитку Open Source Software. Після моєї роботи над розширеннями та тригерами подій (з-поміж іншого) я отримав титул Major Contributor в проекті PostgreSQL.</p>
	        <p>Тривалий час я пишу код майже щодня: як у своїй професійній діяльності, так і у вільний від роботи час. Також я працював архітектором баз даних та архітектором баз даних за викликом. Як розробник я насолоджуюся, використовуючи SQL. Як архітектору баз даних мені подобається навчати колег передовим технікам SQL.</p>
	        <ul>
	            <li><a target="_blank" href="mailto:dim@tapoueh.org">email</a></li>
	            <li><a target="_blank" href="https://twitter.com/tapoueh">twitter</a></li>
	            <li><a target="_blank" href="https://github.com/dimitri">github</a></li>
	            <li><a target="_blank" href="https://www.reddit.com/user/theartofpostgresql">reddit</a></li>
	        </ul>
    	</div>
	    <div class="faq_block">
            <h6>FAQ</h6>
	        <dl>
	           <dt>А якщо книга не виправдає моїх сподівань?</dt>
	           <dd>Мистецтво PostgreSQL - це книга, яка навчає розробників програм мові SQL. Якщо це для вас немає жодного значення, просто скажіть - і я поверну сплачені вами гроші без зайвих запитань.</dd>
	           <dt>Я купив(-ла) книгу, і я розгублений(-а). І що тепер?</dt>
	           <dd>Зміст книги доступний у форматах PDF, ePub та MOBI, також ви можете завантажити запити SQL. Зміст книги також доступний за посиланням <a href="https://postgresql.thinkific.com/enrollments" target="_">https://postgresql.thinkific.com/</a> з вашої студентської панелі приладів.</dd>
	           <dt>Чи є які-небудь DRM-обмеження?</dt>
	           <dd>Ні. У pdf-файлі немає навіть цифрових водяних знаків. Ви володієте тим, що купили. Джерела даних, вибраних для книги, доступні під ліцензіями типу Open Data, а авторським правом володіє Dimitri Fontaine. Всі права захищено.</dd>
	           <dt>Маєте ще якісь запитання?</dt>
	           <dd>Зв'яжіться зі мною <a href="mailto:dim@tapoueh.org">email</a> і просто запитайте! Я зроблю все, щоб відповісти вам.</dd>
	        </dl>
                <div style="font-size: 150%; margin-top: 3em;">
                  <h6>Мови</h6>
                  <a href="/">🇬🇧</a>
                  <a href="/fr/">🇫🇷</a>
                </div>  
    	    </div>            
	</div>
</footer>
<!-- /footer -->




<!-- copyright -->
<div class="copyright">
    <div class="wrapper">
        Copyright 2019 &copy; Dimitri Fontaine. Усі права захищено. Дизайн <a style="color: white; font-weight: bold;" target="_blank" href="https://www.terrilowry.com">TerriLowry.com.</a>
    </div>
</div>
<!-- /copyright -->

</body>

<!-- Subscribers Integration -->
<script type="text/javascript">
  var subscribersSiteId='1296f531-7ba0-406f-89e1-bdca40a36208';
</script>
<script type="text/javascript"
        src="https://cdn.subscribers.com/assets/subscribers.js">
</script>
 

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47059482-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47059482-5');
</script>

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o0ial');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

</html> 
