<!-- header -->
<header class="header">
  <div class="wrapper">
    <a class="logo" href="#">Мистецтво PostgreSQL</a>
    <!-- top menu -->
    <nav>
      <ul>
	<li><a data-slide=".subscribe_block" href="#">КНИГА</a></li>
	<li><a data-slide=".packages_block" href="#">ПАКЕТИ</a></li>
	<li><a data-slide=".about_block" href="#">АВТОР</a></li>
	<li><a href="/blog/">БЛОГ</a></li>
      </ul>
    </nav>
    <!-- /top menu -->
  </div>
  <a data-slide=".price_list" class="button" href="#">ПРИДБАТИ</a>
</header>
<!-- /header -->




