<!-- container -->
<div class="container">
	<div class="wrapper">
	    <header class="heading">
            <h3>The Interviews</h3>
            <p class="margin">Мистецтво PostgreSQL містить інтерв'ю з розробниками та майстрами SQL. PHP, Java, Python і Django приділено особливу увагу в книзі, що розрахована на розробників усіх додатків незалежно від мови використання!</p>
    	</header>
    	<ul class="team_list">
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>Кріс Джеркінз</p>
    	                <p>Clojure's YeSQL</p>
    	                <a href="#">+</a>
    	            </figcaption>
    	            <div class="popup">
    	                <span class="close"></span>
    	                <div><div>
    	                    <p><strong>Кріс Джеркінз</strong>, з Clojure&rsquo;s YeSQL - успішний співзасновник стартапу, він став функціональним програмістом-фрілансером та прихильником програмного забезпечення з відкритим кодом. Здебільшого він працює над створенням систем за допомогою Elm, Haskell & Clojure, вдосконалюючи світ проект за проектом.</p>
        	            </div></div>
    	            </div>
    	        </figure>
    	    </li>
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img2.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>Йоганн Ґаборі</p>
    	                <p>Django Avanc&eacute;</p>
    	                <a href="#">+</a>
    	            </figcaption>
                    <div class="popup">
                        <span class="close"></span>
                        <div><div>
                            <p><strong>Йоганн Ґаборі</strong> - експерт з python django - опублікував у Франції книгу an &ldquo;Advanced Django&rdquo;, щоб поділитися своїм ґгунтовним знанням видавничої систмеми з розробниками Python. Насправді книга є посібником з використання django для створення потужних додатків.</p>
                        </div></div>
                    </div>
    	        </figure>
    	    </li>
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img3.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>Ґреґуар Юбер</p>
    	                <p>POMM Project</p>
    	                <a href="#">+</a>
    	            </figcaption>
                    <div class="popup">
                        <span class="close"></span>
                        <div><div>
                            <p><strong>Ґреґуар Юбер</strong> є розробником приблизно стільки ж, скільки існують веб-додатки, а його улюблений веб-інструментарій знаходиться в екосистемі PHP. Він створив <a target="_blank" href="http://www.pomm-project.org">http://www.pomm-project.org</a>, щоб допомогти краще інтегрувати PostgreSQL і PHP. POMM надає розробникам необмежений доступ до функцій SQL і бази даних, пропонуючи при цьому API високого рівня на драйверах низького рівня.</p>
                        </div></div>
                    </div>
    	        </figure>
    	    </li>
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img4.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>Маркус Вінанд</p>
    	                <p>Modern SQL</p>
    	                <a href="#">+</a>
    	            </figcaption>
                    <div class="popup">
                        <span class="close"></span>
                        <div><div>
                            <p><strong>Маркус Вінанд</strong> - автор відомої книги &ldquo;SQL Performance Explained&rdquo; він веде <a target="_blank" href="http://use-the-index-luke.com">http://use-the-index-luke.com</a> і <a target="_blank" href="http://modern-sql.com">http://modern-sql.com</a>. Маркус досконало знає стандарт SQL і є майстром використання SQL для швидкої доставки додатків та стабільної продуктивності під час виконання!</p>
                        </div></div>
                    </div>
    	        </figure>
    	    </li>
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img5.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>Альваро Ернандес Тортоса</p>
    	                <p>ToroDB</p>
    	                <a href="#">+</a>
    	            </figcaption>
                    <div class="popup">
                        <span class="close"></span>
                        <div><div>
                            <p>IT-підприємець. Засновник двох компаній, що розробляють програмне забезпечення (<a target="_blank" href="https://www.8kdata.com/">8Kdata</a> & Wizzbill). Fрхітектор і розробник програмного забезпечення. Прихильник та консультант з програмного забезпечення з відкритим кодом. Альваро Ернандес Тортоса очолює проект <a target="_blank" href="https://www.torodb.com">@ToroDB</a> - реплікаційне рішення MongoDB на основі PostgreSQL!</p>
                        </div></div>
                    </div>
    	        </figure>
    	    </li>
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img6.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>Крейг Керстієнс</p>
    	                <p>Citus Data</p>
    	                <a href="#">+</a>
    	            </figcaption>
                    <div class="popup">
                        <span class="close"></span>
                        <div><div>
                            <p><strong>Крейг Керстієнс</strong> очолює команду Cloud в <a target="_blank" href="https://www.citusdata.com">@citusdata.</a> Citus розширює Postgres до горизонтально масштабованої розподіленої бази даних. Якщо у вас є база даних, особливо Postgres, що повинна масштабуватися за межі одного вузла (зазвичай на 100GB і більше), Крейг завжди радий поговорити і перевірити, чи може Citus допомогти.</p>
                            <p>До цього Крейг багато років працював у <a target="_blank" href="https://www.heroku.com/">@heroku,</a> - платформі-як-сервіс (PaaS), що бере на себе значну частину накладних витрат в IT і дозволяє розробникам зосередитися на створенні функціоналу і доданої вартості. Більшу частину часу у Heroku Крейг провів, керуючи проектами і маркетингом для Heroku Data.</p>
                        </div></div>
                    </div>
    	        </figure>
    	    </li>
    	</ul>
	</div>
</div>
<!-- /container -->
