<!-- container -->
<div class="container">
	<div class="wrapper">
	    <header class="heading">
            <h3>The Interviews</h3>
            <p class="margin">The Art of PostgreSQL includes interviews from developers and SQL masters. PHP, Java, Python and Django get specific treatment in the book, which targets all application developers, whatever the language in use!</p>
    	</header>
    	<ul class="team_list">
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>Kris Jenkins</p>
    	                <p>Clojure's YeSQL</p>
    	                <a href="#">+</a>
    	            </figcaption>
    	            <div class="popup">
    	                <span class="close"></span>
    	                <div><div>
    	                    <p><strong>Kris Jenkins</strong>, from Clojure&rsquo;s YeSQL, is a successful startup cofounder, turned freelance functional programmer, and open-source enthusiast. He mostly works building systems in Elm, Haskell & Clojure, improving the world one project at a time.</p>
        	            </div></div>
    	            </div>
    	        </figure>
    	    </li>
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img2.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>Yohann Gabory</p>
    	                <p>Django Avanc&eacute;</p>
    	                <a href="#">+</a>
    	            </figcaption>
                    <div class="popup">
                        <span class="close"></span>
                        <div><div>
                            <p><strong>Yohann Gabory</strong>, python django&rsquo;s expert, has published an &ldquo;Advanced Django&rdquo; book in France to share his deep knowledge of the publication system with Python developers. The book really is a reference on how to use django to build powerful applications.</p>
                        </div></div>
                    </div>
    	        </figure>
    	    </li>
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img3.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>Gr&eacute;goire Hubert</p>
    	                <p>POMM Project</p>
    	                <a href="#">+</a>
    	            </figcaption>
                    <div class="popup">
                        <span class="close"></span>
                        <div><div>
                            <p><strong>Gr&eacute;goire Hubert</strong> has been a web developer for about as long as we have web applications, and his favorite web tooling is found in the PHP ecosystem. He wrote <a target="_blank" href="http://www.pomm-project.org">http://www.pomm-project.org</a> to help integrate PostgreSQL and PHP better. POMM grants developers with unlimited access to SQL and database features while proposing a high level API over low level drivers.</p>
                        </div></div>
                    </div>
    	        </figure>
    	    </li>
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img4.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>Markus Winand</p>
    	                <p>Modern SQL</p>
    	                <a href="#">+</a>
    	            </figcaption>
                    <div class="popup">
                        <span class="close"></span>
                        <div><div>
                            <p><strong>Markus Winand</strong> is the author of the very famous book &ldquo;SQL Performance Explained&rdquo; and maintains both <a target="_blank" href="http://use-the-index-luke.com">http://use-the-index-luke.com</a> and <a target="_blank" href="http://modern-sql.com">http://modern-sql.com</a>. Markus masters the SQL standard and is a wizard  in how to use SQL to enable fast application delivery and solid run-time performances!</p>
                        </div></div>
                    </div>
    	        </figure>
    	    </li>
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img5.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>&Aacute;lvaro Hern&aacute;ndez Tortosa</p>
    	                <p>ToroDB</p>
    	                <a href="#">+</a>
    	            </figcaption>
                    <div class="popup">
                        <span class="close"></span>
                        <div><div>
                            <p>IT entrepreneur. Founder of two software development companies (<a target="_blank" href="https://www.8kdata.com/">8Kdata</a> & Wizzbill). Software architect and developer. Open source consultant and supporter. <strong>&Aacute;varo Hern&aacute;ndez Tortosa</strong> leads the <a target="_blank" href="https://www.torodb.com">@ToroDB</a> project, a MongoDB replica solution based on PostgreSQL!</p>
                        </div></div>
                    </div>
    	        </figure>
    	    </li>
    	    <li>
    	        <figure>
    	            <div data-cover=".cover"><img class="cover" src="images/demo/team_img6.jpg" alt="" /></div>
    	            <figcaption>
    	                <p>Craig Kerstiens</p>
    	                <p>Citus Data</p>
    	                <a href="#">+</a>
    	            </figcaption>
                    <div class="popup">
                        <span class="close"></span>
                        <div><div>
                            <p><strong>Craig Kerstiens</strong> heads up the Cloud team at <a target="_blank" href="https://www.citusdata.com">@citusdata.</a> Citus extends Postgres to be a horizontally scalable distributed database. If you have a database, especially Postgres, that needs to scale beyond a single node (typically at 100GB and up) Craig is always happy to chat and see if Citus can help.</p>
                            <p>Previously Craig has spent a number of years <a target="_blank" href="https://www.heroku.com/">@heroku,</a> a platform-as-a-service, which takes much of the overhead out of IT and lets developers focus on building features and adding value. The bulk of Craig's time at Heroku was spent running product and marketing for Heroku Data.</p>
                        </div></div>
                    </div>
    	        </figure>
    	    </li>
    	</ul>
	</div>
</div>
<!-- /container -->
