<!-- packages_block -->
<div class="packages_block">
	<div class="wrapper">
	    <header class="heading">
    		<h3>Пакети</h3>
    		<p class="lightpurple">
                 Мистецтво PostgreSQL іде в одному з чотирьох пакетів.<br/>
                 Починаючи з пакета Стандартне видання і далі, усі ваші потреби
                 будуть задоволені…</p>
    	    </header>
    	<ul class="price_list">
    	    <li>
    	        <div>
        	        <h5>Стандартне видання</h5>
        	        <div class="price">
                         <sup>$</sup>49
                        </div>
        	        <p>Справжня знахідка - 438 сторінок вдосконаленого навчального маеріалу з SQL - лише для вас. Ви отримуєте версії у форматах PDF, ePub та MOBI. А також запити SQL окремими файлами!</p>
        	        <p><a data-slide=".descriptions_list" href="#">LEARN MORE</a></p>
                    <a class="button button_purple" href="https://sales.theartofpostgresql.com/standard-edition/">КУПИТИ</a>
        	    </div>
    	    </li>
    	    <li class="bestvalue">
    	        <div>
    	            <div class="best">НАЙПОПУЛЯРНІШЕ</div>
        	        <h5>Повне видання</h5>
        	        <div class="price">
                         <sup>$</sup>99
                        </div>
        	        <p>Повне видання іде в пакеті з електронною книгою та архівом готового до відновлення файлу дампу PostgreSQL, на додачу ви отримуєте 334 запити як окремі файли для запуску та редагування!</p>
        	        <p><a data-slide=".descriptions_list" href="#">ДІЗНАТИСЯ БІЛЬШЕ</a></p>
                    <a class="button button_purple" href="https://sales.theartofpostgresql.com/full-edition/">КУПИТИ</a>
        	    </div>
    	    </li>
    	    <li>
    	        <div>
        	        <h5>Видання Знищене дерево</h5>
        	        <div class="price">
                         <sup>$</sup>129
                        </div>
        	        <p>Професійно надрукована книга на 480 сторінок у м'якій обкладинці з точно таким змістом.Також ви отримуєте усі переваги Повного видання, включаючи можливість копіювати та вставляти зміст книги, запити і базу даних для використання  до відтворення запитів з книги!</p>
        	        <p><a data-slide=".descriptions_list" href="#">ДІЗНАТИСЯ БІЛЬШЕ</a></p>
                    <a class="button button_purple" href="https://sales.theartofpostgresql.com/the-dead-tree-edition/">КУПИТИ</a>
        	    </div>
    	    </li>
    	    <li>
    	        <div>
        	        <h5>Корпоративне видання</h5>
        	        <div class="price">
                         <sup>$</sup>229
                        </div>
        	        <p>Все, що потрібно вашій коданді для опанування SQL, включаючи ліцензію на поширення електронної версії книги, бази даних, 334 файлів запитів та ліцензію на користування усім не більше ніж  15 особам у вашій корпорації!</p>
        	        <p><a data-slide=".descriptions_list" href="#">ДІЗНАТИСЯ БІЛЬШЕ</a></p>
        	        <a class="button button_purple" href="https://sales.theartofpostgresql.com/enterprise-edition/">КУПИТИ</a>
        	    </div>
    	    </li>
    	</ul>
        <header class="heading">
         <p class="margin">Все ще не впевнені, який пакет найкращий для вас? Дивіться порівняльну таблицю та всі деталі нижче.</p>
         <p>
          <span class="option">⍟</span>
         Зверніть увагу, що ви можете додати фізичну книгу, здійснивши додаткову дію на другому кроці процесу покупки.
          <span class="option">⍟</span>
         </p>
        </header>
        <ul class="packages_table">
            <li>
                <ul>
                    <li>Пакети містять</li>
                    <li>Стандартне видання</li>
                    <li>Повне видання</li>
                    <li>Знищене дерево</li>
                    <li>Корпоративне видання</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Книга в м'якій обкладинці</li>
                    <li><span class="option">⍟</span></li>
                    <li><span class="option">⍟</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="option">⍟</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Електронна книга</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>6 Інтерв'ю</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>PDF, ePub, MOBI</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Запити SQL &amp; Code</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Реальний набір даних з життя</li>
                    <li>&nbsp;</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Приклади нормалізації</li>
                    <li>&nbsp;</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Модульне тетсування</li>
                    <li>&nbsp;</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Ліцензія для поширення</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Docker-контейнер</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>&nbsp;</li>
                    <li><a data-slide=".bestvalue" href="https://sales.theartofpostgresql.com/standard-edition/">Купити зараз</a></li>
                    <li><a data-slide=".bestvalue" href="https://sales.theartofpostgresql.com/full-edition/">Найпопулярніше</a></li>
                    <li><a data-slide=".bestvalue" href="https://sales.theartofpostgresql.com/the-dead-tree-edition/">Купити зараз</a></li>
                    <li><a data-slide=".bestvalue" href="https://sales.theartofpostgresql.com/enterprise-edition/">Купити зараз</a></li>
                </ul>
            </li>
        </ul>
        <ul class="descriptions_list">
            <li>
                <h6>Книга</h6>
                <p>Ця книга - це 438 сторінок, наповнених запитами SQL. 334 з них актуальні, всі вони відповідають нa конкретний зрозумілий приклад використання, що подається простою англійською мовою. Кожен запит детально пояснюється.</p>
            </li>
            <li>
                <h6>6 інтерв'ю</h6>
                <p>Інтерв'ю з ветеранами галузі, які почали створювати додатки ще в попереньому столітті. Вони там були і діляться думками з приводу того, як підійти до SQL.</p>
            </li>
            <li>
                <h6>PDF, ePub, MOBI</h6>
                <p>Повний набір для електронного читання на всіх пристроях: планшеті, телефоні та комп'ютері. PDF ретельно редагується відповідно до сучасних стандартів відображення (спробуйте на своєму планшеті!).</p>
            </li>
            <li>
                <h6>Docker-контейнер</h6>
                <p>Екземпляр PostgreSQL, завантажений з усіма даними з книги, та запущений веб-додаток, що дозволяє відтворювати кожен запит SQL з книги!</p>
            </li>
            <li>
                <h6>Реальний набір даних з життя</h6>
                <p>Набори даних із книги з 56 таблицями, вже завантаженими із відкритих джерел даних. Усі ми вчимося краще на конкретних прикладах. У вас є 15 наборів даних у образі докера.</p>
            </li>
            <li>
                <h6>Ліцензія для поширення</h6>
                <p>Поділіться книгою і екземпляром докера з 15 людьми у вашій компанії! Так, ви купуєте раз, а потім ділитеся. Кожен навіть може запускати власний контейнер, звісно, якщо це потрібно.</p>
            </li>
            <li>
                <h6>Приклади нормалізації</h6>
                <p>Ми також пояснюємо, як створити модель бази даних і чому як розробнику вам слід подбати про її нормалізацію. З практичними прикладами та сценаріями нормалізації.</p>
            </li>
            <li>
                <h6>Запити SQL + Code</h6>
                <p>Образ докера корпоративного видання також містить 334 запити у вигляді файлів sql, а також код поданих у книзі зразків додатків.</p>
            </li>
            <li>
                <h6>Модульне тетсування</h6>
                <p>Код додатку доступний з програмним копмлексом регресивного тестування SQL, що використовує RegreSQL. Ознайомтемя з цим інструментом, він може вам скоро знадобитися!</p>
            </li>
        </ul>
	</div>
</div>
<!-- /packages_block -->
