<!-- quote_slider -->
<div class="quote_slider">
    <div class="wrapper">
        <ul>
            <li>
                <blockquote>
                    <p>Дякую за фантастичну книгу. Вона надзвичайно допомогла мені на моїй теперішній роботі. Технічні книжки часто бувають нудними і важкими для розуміння, але читати “Mastering PostgreSQL” було справжнім задоволенням.&rdquo;</p
                    <p>Бен Девіс</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>Нарешті вийшла конкретна книга Postgres для розробників додатків, до того ж від самого @tapoueh. Спішіть отримати її!&rdquo;</p>
                    <p>Пітер ван Гарденберг</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>Повне видання &ldquo;Mastering PostgreSQL&#8230;&rdquo; неймовірне! Не просто найкращий ресурс PG усіх часів, а й найкращий технічний навчальний комплекс, який я коли-небудь бачив!&rdquo;</p>
                    <p>Дерек Сіверс</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>Я знав, що &ldquo;Mastering PostgreSQL&rdquo; буде гарною книгою, але верстка за допомогою XeTeX перевершила усі сподівання!&rdquo;</p>
                    <p>Ксав'є Норія</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>Купив головну книгу з PostgreSQL для розробників додатків від @tapoueh Спішіть отримати її! Ви навчитеся багатьом новим речам!&rdquo;</p>
                    <p>Ґерве П'єваш</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>Винуватцем, здається, є книга @tapoueh та декілька тверджень від декого, хто вивчає найкращі практики #PostgreSQL&#8230;&rdquo;</p>
                    <p>Сиріл Брюлебуа</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>Я щойно відкрив вашу книгу для себе і з великим задоволенням замовив її!&rdquo;</p>
                    <p>Лукас Чарльз</p>
                </blockquote>
            </li>
        </ul>
    </div>
</div>
<!-- /quote_slider -->
