<!-- sql_list -->
<div class="sql_list">
    <ul>
        <li>
            <h2>SQL - це Код</h2>
            <div>
                <p>Дізнайтеся, як працювати з SQL у робочому процесі розробника: версіонування, тестування, перегляд коду, розгортання. Висвітлюються кращі практики та інструменти.</p>
            </div>
        </li>
        <li>
            <h2>Практичні зразки</h2>
            <div>
                <p>Вивчайте розширений SQL за допомогою практичних зразків та наборів даних, що допоможуть вам отримати максимум від книги! Кожен запит вирішує практичний випадок використання і подається у контексті.</p>
            </div>
        </li>
        <li>
            <h2>Моделювання бази даних</h2>
            <div>
                <p>Книга висвітлює (де)нормалізацію за допомогою простих практичних зразків для занурення у цю, здавалося б, складну тему, включаючи стратегію кешування та індексування.</p>
            </div>
        </li>
        <li>
            <h2>SQL для розробників</h2>
            <div>
                <p>Це книга для розробників, що висвітлює передові техніки SQL для обробки даних. Дізнайтеся, як отримати саме той набір результатів, який потрібен у вашому коді додатку!</p>
            </div>
        </li>
        <li>
            <h2>Написання ефективного коду SQL</h2>
            <div>
                <p>Написання ефективного коду SQL простіше, ніж здається, і починається з моделювання бази даних та написання чистого коду. Книга вчить, як писати швидкі запити!</p>
            </div>
        </li>
        <li>
            <h2>З батарейками в комплекті</h2>
            <div>
                <p>Книга йде з відкритими наборами даних та інструкціями, як їх отримати, тож ви можете запускати всі запити SQL вдома, редагувати їх та вчитися на них. У комплект включено навіть розширену установку psql!</p>
            </div>
        </li>
    </ul>
</div>
<!-- /sql_list -->
