<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The Art of PostgreSQL — Advanced PostgreSQL Workshops (3h)</title>
	<meta name="description" content="Advanced PostgreSQL Workshops — Master SQL, Performance, and Query Optimization with the Author of The Art of PostgreSQL">

        <!-- twitter card integration -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@tapoueh" />
        <meta name="twitter:creator" content="@tapoueh" />
        <meta property="og:url" content="https://theartofpostgresql.com/workshop" />
	<meta property="og:title" content="Advanced PostgreSQL Workshops" />
	<meta property="og:description" content="3-hour live workshops on SQL, performance, and query optimization with expert instruction." />
        <meta property="og:image" content="https://theartofpostgresql.com/img/TheArtOfPostgresWorkshop.png" />
	
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	
	<!-- Favicon -->
	<link href="/favicon.ico" rel="icon" type="image/x-icon">
	
	<!-- Stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="stylesheet" href="/css/style.css">
	
	<!-- JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
	<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="/js/custom.js"></script>
</head>
<body class="workshop">

