<ul class="services_list price_list">
  <li>
    <p><img src="images/icons/plus.png" alt="" /></p>
    <p><strong>Includes the book</strong></p>
    <p>
      Registration includes The Art of PostgreSQL complete download
      package (PDF, EPUB, and companion materials), valued at $89.
    </p>
  </li>
  <li class="bestvalue">
    <div>
      <div class="best">NEXT SESSION</div>
      <h5>Master Window Functions</h5>
      <div class="price">
        <sup>$</sup>249
      </div>
      <div>
        May 12th, 2026, 8am PDT / 5pm CEST
      </div>
      <a class="button button_purple" href="https://sales.theartofpostgresql.com/workshop-window-functions/">PURCHASE</a>
    </div>
  </li>
  <li>
    <p><img src="images/icons/arrow.png" alt="" /></p>
    <p><strong>Limited to 45 seats</strong></p>
    <p>
      Seats are limited to 45 attendees per session. They fill up
      quickly. See below to register now to the next session.
    </p>
  </li>
</ul>
