<!--
<center>
  <div style="width:50%; text-align: left; border-top: 1px solid black; border-bottom: 1px solid black; padding-top: 1em;">
    <h3 class="best" style="text-align: center;">Postgres 15 Special Discount</h3>
    <p>
      With the release day for Postgres 15 approaching, I (Dimitri
      Fontaine) am preparing an update to my book “The Art of
      Postgres”. My intention is to add coverage for the new
      features that made it to Postgres in specific areas such as
      window functions and their frame definition, grouping sets,
      aggregates, common table expressions, etc…
    </p>
    <p>
      When purchasing the current edition of “The Art of PostgreSQL”
      now, you will get access to the new edition with Postgres 15
      coverage as soon as it ships. For free!
    </p>
    <p>
      And to encourage you to encourage me in spending all the time
      and efforts to renew my book, I have set-up a very nice
      discount:
    </p>
    <p style="text-transform: uppercase; text-align: center;">
      Enjoy 30% discount with the code:
      <tt style="font-size: 1.5em">PG15</tt>
    </p>
  </div>
</center>
-->
