<!-- welcome_slider -->
<div class="welcome_slider">
    <ul>
    	<li data-cover=".cover">
    	    <img class="cover" src="/images/demo/slide.jpg" alt="" />
    	    <div class="wrapper">
    	       <img src="/images/demo/welcome_logo.png" alt="" />
    	       <p>
                 <a class="button button_large" href="https://sales.theartofpostgresql.com/the-art-of-postgresql-book/">
                   Buy the Book
                 </a>
                 <!-- <a class="button button_large" href="/course/"> -->
                 <!--   Take the Course -->
                 <!-- </a> -->
               </p>
    	    </div>
    	</li>
    	<li data-cover=".cover"><img class="cover" src="/img/TheArtOfPostgresEcosystem.png" alt="" /></li>
    	<li data-cover=".cover"><img class="cover" src="/images/demo/slide3.jpg" alt="" /></li>
    </ul>
</div>
