<div class="index_lab">
  <div class="wrapper">
    <header class="heading">
      <h3>Free Practice Lab</h3>
      <p class="lightpurple">Real datasets, real queries, no setup required</p>
    </header>
    
    <div class="section_icons">
      <span class="system_icon"><i class="fa-solid fa-flask"></i></span>
    </div>
    
    <p class="lab_desc">
      A companion lab to practice everything from the book and courses.
      Download the datasets, run the queries, experiment freely.
    </p>
    
    <div class="section_cta">
      <a href="/lab" class="button button_transparent">Try the Lab</a>
    </div>
  </div>
</div>
