<div class="index_system">
  <div class="wrapper">
    <header class="heading">
      <h3>One System, One Learning Path</h3>
      <p class="lightpurple">Learn → Practice → Apply → Master</p>
    </header>
    
    <div class="system_flow">
      <div class="system_item">
        <span class="system_icon"><i class="fa-solid fa-book-open"></i></span>
        <h6>Book</h6>
        <p>Foundation &amp; reference</p>
      </div>
      <span class="system_arrow"><i class="fa-solid fa-arrow-right"></i></span>
      <div class="system_item">
        <span class="system_icon"><i class="fa-solid fa-graduation-cap"></i></span>
        <h6>Course</h6>
        <p>Structured learning</p>
      </div>
      <span class="system_arrow"><i class="fa-solid fa-arrow-right"></i></span>
      <div class="system_item">
        <span class="system_icon"><i class="fa-solid fa-microphone"></i></span>
        <h6>Workshop</h6>
        <p>Live deep dives</p>
      </div>
      <span class="system_arrow"><i class="fa-solid fa-arrow-right"></i></span>
      <div class="system_item">
        <span class="system_icon"><i class="fa-solid fa-flask"></i></span>
        <h6>Lab</h6>
        <p>Hands-on practice</p>
      </div>
    </div>
    
    <div class="system_cta">
      <a href="https://sales.theartofpostgresql.com/the-art-of-postgresql-book/" class="button button_purple">Start with the Book</a>
    </div>

    <center style="margin-top: 2em;">
      <h4>Most people continue with the course.</h4>
    </center>
  </div>
</div>
