<!-- container -->
<div class="container">
	<div class="wrapper">
	    <header class="heading">
    	      <h1>The Art of PostgreSQL</h1>
              <h4>Le livre qui enseigne le SQL aux développeurs : apprenez comment remplacer des milliers de lignes de code avec des requêtes SQL simples !</h4>
    	</header>
    	<ul class="services_list">
    	    <li>
    	        <p><img src="images/icons/plus.png" alt="" /></p>
    	        <p><strong>Nouveau Chapitre</strong></p>
    	        <p>Ceci est la seconde édition du livre. Elle inclue un
    	        nouveau chapitre au sujet des extensions PostgreSQL. Écrit
    	        par l'auteur de la command <tt>CREATE EXTENSION</tt>!</p>
    	    </li>
    	    <li>
    	        <p><img src="images/icons/bookmark.png" alt="" /></p>
    	        <p><strong>Seconde Édition</strong></p>
    	        <p>« The Art of PostgreSQL » est le nouveau titre de mon
    	         livre <i>« Mastering PostgreSQL in Application
    	         Development »/i>, acclamé comme l'une des toutes meilleurs
    	         sources existantes pour apprendre le SQL !</p>
    	    </li>
    	    <li>
    	        <p><img src="images/icons/arrow.png" alt="" /></p>
    	        <p><strong>Un design amélioré</strong></p>
    	        <p>Après une réception enthousiaste de la première édition
    	        du livre, la seconde édition est maintenant disponible avec
    	        une finition améliorée. Embellissez votre bibliothèque !</p>
    	    </li>
    	</ul>
	</div>
</div>
<!-- /container -->
