
<!-- footer -->
<footer class="footer">
  <div class="wrapper">
    <div class="about_block">
      <h6>À propos de l'auteur</h6>
      <p>Bonjour ! Mon nom est Dimitri Fontaine, et j'ai utilisé et
      contribué à divers logiciels Open Source depuis plus de 20 ans
      maintenant. Je fais partie des contributeurs majeurs à PostgreSQL
      après avoir contribué la notion d'EXTENSION ainsi que les EVENT
      TRIGGERs, entre autres fonctionnalités.</p>
      <p>En tant que développeur, j'écris du code de manière quotidienne (ou
      presque) depuis de nombreuses années, à la fois dans le cadre de mon
      travail et sur mon temps libre. J'ai été employé comme architecte de
      bases de données, administrateur de bases de données — d'astreinte ;
      ou encore développeur d'applications. J'ai toujours apprécié tout
      particulièrement le SQL. En tant qu'architecte de bases de données,
      j'ai trouvé agréable de pouvoir accompagner mes collègues dans leur
      découverte et apprentissage des techniques SQL avancées.</p>
      <ul>
	<li><a target="_blank" href="mailto:dim@tapoueh.org">email</a></li>
	<li><a target="_blank" href="https://twitter.com/tapoueh">twitter</a></li>
	<li><a target="_blank" href="https://github.com/dimitri/tapoueh.org">github</a></li>
	<li><a target="_blank" href="https://www.reddit.com/user/theartofpostgresql">reddit</a></li>
      </ul>
    </div>
    <div class="faq_block">
      <h6>Foire Aux Questions</h6>
      <dl>
	<dt>Et si le livre n'était pas du tout ce que j'en attends ?</dt>
	<dd>« The Art of PostgreSQL » est un livre qui enseigne le SQL aux
	développeurs d'applications. Si vous vous rendez compte que ce livre
	ne vous apporte rien, je vous rembourserai votre achat sur simple
	réception d'un e-mail.</dd>
	<dt>J'ai acheté le livre et je suis confus… quelle est la suite des
	opérations ?</dt>
	<dd>Le contenu du livre est disponible sous les formats PDF, ePub et
	MOBI et vous pouvez les télécharger sur le
	site <a href="https://postgresql.thinkific.com/enrollments"
	target="_">https://postgresql.thinkific.com/</a> où vous avez été
	inscrits en tant qu'étudiant.</dd>
	<dt>Le livre est-il protégé par des DRM?</dt>
	<dd>Non. Le PDF n'est même pas marqué. Vous possédez ce que vous
	achetez. Les sources de données sélectionnées tout au long du livre
	sont également disponible sous des licenses de type Open Data, et le
	livre lui-même est <i>copyright</i> Dimitri Fontaine, tous droits
	réservés.</dd>
	<dt>J'ai une autre question ?</dt>
	<dd>Vous pouvez me contacter par e-mail à
	l'adresse <a href="mailto:dim@tapoueh.org">dim @ tapoueh.org</a>
	afin de me poser votre question ! Je ferai de mon mieux pour vous
	répondre, en général sous 5 jours ouvrés, si je ne suis pas en
	vacance avec les enfants…</dd>
      </dl>
      <div style="font-size: 150%; margin-top: 3em;">
        <h6>Langues</h6>
        <a href="/">🇬🇧</a>
        <a href="/fr/">🇫🇷</a>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->




<!-- copyright -->
<div class="copyright">
  <div class="wrapper">
    Copyright 2019 &copy; Dimitri Fontaine. All rights reserved. Design by <a style="color: white; font-weight: bold;" target="_blank" href="https://www.terrilowry.com">TerriLowry.com.</a>
  </div>
</div>
<!-- /copyright -->

</body>

<!-- Subscribers Integration -->
<script type="text/javascript">
  var subscribersSiteId='1296f531-7ba0-406f-89e1-bdca40a36208';
</script>
<script type="text/javascript"
        src="https://cdn.subscribers.com/assets/subscribers.js">
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47059482-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47059482-5');
</script>

<!-- Twitter universal website tag code -->
<script>
  !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
  },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
  a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
  // Insert Twitter Pixel ID and Standard Event data below
  twq('init','o0ial');
  twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

</html> 
