<!-- header -->
<header class="header">
  <div class="wrapper">
    <a class="logo" href="#">The Art of PostgreSQL</a>
    <!-- top menu -->
    <nav>
      <ul>
	<li><a data-slide=".subscribe_block" href="#">Le Livre</a></li>
	<li><a data-slide=".packages_block" href="#">Éditions</a></li>
	<li><a data-slide=".about_block" href="#">Auteur</a></li>
	<li><a href="/blog/">BLOG</a></li>
      </ul>
    </nav>
    <!-- /top menu -->
  </div>
  <a data-slide=".price_list" class="button" href="#">Acheter</a>
</header>
<!-- /header -->




