<!-- container -->
<div class="container">
  <div class="wrapper">
    <header class="heading">
      <h3>Les interviews</h3>
      <p class="margin">« The Art of PostgreSQL » inclue des interviews de
        développeurs et utilisateurs avancés de SQL, PHP, Java, Python et
        Django. Ceci dit, le contenu du livre vous sera utile quelques soient
        les languages de développement que vous utilisez !</p>
    </header>
    <ul class="team_list">
      <li>
    	<figure>
    	  <div data-cover=".cover"><img class="cover" src="images/demo/team_img.jpg" alt="" /></div>
    	  <figcaption>
    	    <p>Kris Jenkins</p>
    	    <p>Clojure's YeSQL</p>
    	    <a href="#">+</a>
    	  </figcaption>
    	  <div class="popup">
    	    <span class="close"></span>
    	    <div><div>
    	        <p><strong>Kris Jenkins</strong> est l'auteur de la solution
    	        YeSQL en Clojure. Il a co-fondé une startup et propose
    	        aujourd'hui ses services en programmation fonctionnelle en
    	        tant qu'indépendant. Kris est un utilisateur et contributeur
    	        enthousiaste de l'écosystème Open Source. Il travaille
    	        principalement à l'implémentation de systèmes utilisant Elm,
    	        Haskell, et Clojure ; améliorant le monde un projet à la
    	        fois.</p>
            </div></div>
    	  </div>
    	</figure>
      </li>
      <li>
    	<figure>
    	  <div data-cover=".cover"><img class="cover" src="images/demo/team_img2.jpg" alt="" /></div>
    	  <figcaption>
    	    <p>Yohann Gabory</p>
    	    <p>Django Avanc&eacute;</p>
    	    <a href="#">+</a>
    	  </figcaption>
          <div class="popup">
            <span class="close"></span>
            <div><div>
                <p><strong>Yohann Gabory</strong> est expert Python et
                Django et a publié à ce titre un ouvrage en français
                intitulé « Django Avancé », chez Eyrolles. Dans son livre,
                Yohann partage ses connaissances du système de publication
                avec les développeurs Python de tout niveau.</p>
            </div></div>
          </div>
    	</figure>
      </li>
      <li>
    	<figure>
    	  <div data-cover=".cover"><img class="cover" src="images/demo/team_img3.jpg" alt="" /></div>
    	  <figcaption>
    	    <p>Gr&eacute;goire Hubert</p>
    	    <p>POMM Project</p>
    	    <a href="#">+</a>
    	  </figcaption>
          <div class="popup">
            <span class="close"></span>
            <div><div>
                <p><strong>Gr&eacute;goire Hubert</strong> a commencé à
                développer des applications webs dès que le concept
                d'application web a existé, et son outil de prédilection
                pour cela reste PHP. Grégoire a développé la
                solution <a target="_blank"
                href="http://www.pomm-project.org">http://www.pomm-project.org</a>
                afin de pouvoir intégrer PostgreSQL dans ses applications
                écrites en PHP. POMM permet aux développeurs un accès
                illimité aux fonctionnalités de Postgres tout en proposant
                une interface de haut niveau.</p>
            </div></div>
          </div>
    	</figure>
      </li>
      <li>
    	<figure>
    	  <div data-cover=".cover"><img class="cover" src="images/demo/team_img4.jpg" alt="" /></div>
    	  <figcaption>
    	    <p>Markus Winand</p>
    	    <p>Modern SQL</p>
    	    <a href="#">+</a>
    	  </figcaption>
          <div class="popup">
            <span class="close"></span>
            <div><div>
                <p><strong>Markus Winand</strong> est l'auteur du célèbre
                livre « SQL Performance Explained » et maintient les
                sites <a target="_blank"
                href="http://use-the-index-luke.com">http://use-the-index-luke.com</a>
                and <a target="_blank"
                href="http://modern-sql.com">http://modern-sql.com</a>.
                Markus se présente comme l'ambassadeur du SQL moderne et
                maîtrise les subtilités du standard SQL et de ses
                différentes implémentations.</p>
            </div></div>
          </div>
    	</figure>
      </li>
      <li>
    	<figure>
    	  <div data-cover=".cover"><img class="cover" src="images/demo/team_img5.jpg" alt="" /></div>
    	  <figcaption>
    	    <p>&Aacute;lvaro Hern&aacute;ndez Tortosa</p>
    	    <p>ToroDB</p>
    	    <a href="#">+</a>
    	  </figcaption>
          <div class="popup">
            <span class="close"></span>
            <div><div>
                <p>Entrepreneur, fondateur de plusieurs entreprises de
                développement logiciel dont récemment <a target="_blank"
                href="https://www.ongres.com">Ongres</a>. Architecte
                logiciel et développeur, contributeur au pilote JDBC pour
                PostgreSQL, <strong>Álvaro Hernández Tortosa</strong> a
                dirigé le projet <a target="_blank"
                href="https://www.torodb.com">@ToroDB</a> qui propose une
                intégration transparente de PostgreSQL au sein d'un cluster
                MongoDB !</p>
            </div></div>
          </div>
    	</figure>
      </li>
      <li>
    	<figure>
    	  <div data-cover=".cover"><img class="cover" src="images/demo/team_img6.jpg" alt="" /></div>
    	  <figcaption>
    	    <p>Craig Kerstiens</p>
    	    <p>Citus Data</p>
    	    <a href="#">+</a>
    	  </figcaption>
          <div class="popup">
            <span class="close"></span>
            <div><div>
                <p><strong>Craig Kerstiens</strong> est responsable de
                l'équipe Cloud de <a target="_blank"
                href="https://www.citusdata.com">@citusdata.</a> et
                maintenant des produits PostgreSQL sur Azure, le cloud de
                Microsoft. Citus est une extension qui implémente un moteur
                de requêtes distribuées et permet de passer à l'échelle avec
                PostgreSQL en utilisant plusieurs serveurs sur lesquelles
                répartir les données.</p>
                <p>Avant Citus et Microsoft, Craig a passé quelques années à
                mettre au point et améliorer l'offre Postgres de
                l'entreprise <a target="_blank"
                href="https://www.heroku.com/">Heroku</a>.</p>
            </div></div>
          </div>
    	</figure>
      </li>
    </ul>
  </div>
</div>
<!-- /container -->
