<!-- packages_block -->
<div class="packages_block">
  <div class="wrapper">
    <header class="heading">
      <h3>Les pré-commandes sont ouvertes !</h3>
      <p style="text-align: justify; color: black; font-size: 120%;">
        De nombreux commentaires nous sont parvenus de lecteurs potentiels
        ayant une forte préférence pour une version française du livre. La
        traduction représente un investissement de temps tout à fait
        sérieux, même si l'auteur (coucou !) est français. Du coup, nous
        vous proposons de voter avec votre porte-monnaie… vous voulez lire
        « The Art of PostgreSQL » en français ? Pré-commandez le dès
        aujourd'hui !
      </p>
      <p style="text-align: justify; color: #a0a0a0;">Idéalement nous ferons
      imprimer le livre en France par une entreprise locale. Les coûts de
      productions de et de livraison n'étant pas encore étudiés, la version
      papier de notre offre n'est pas encore disponible en pré-commande.</p>

      <hr style="margin-bottom: 3em;"/>
      
      <h3>Une édition pour chaque besoin</h3>
      <p class="lightpurple">
        « The Art of PostgreSQL » est disponible selon les quatre formules
        suivantes.<br/> En commençant par l'édition standard et avec des
        éditions avancées, tous vos besoins sont couverts…</p>
    </header>    
    <ul class="price_list">
      <li>
    	<div>
          <h5>Édition standard</h5>
          <div class="price">
            49<sup>€</sup>
          </div>
          <p>Le livre complet, avec le contenu intégral de 438 pages
            d'enseignement SQL avancé. Fourni avec les versions PDF, ePub et
            MOBI, ainsi que les requêtes SQL dans des fichiers séparés !</p>
          <p><a data-slide=".descriptions_list" href="#">EN SAVOIR PLUS</a></p>
          <a class="button button_purple" href="https://sales.theartofpostgresql.com/fr-standard-edition/">PRE-COMMANDE</a>
        </div>
      </li>
      <li class="bestvalue">
    	<div>
    	  <div class="best">PREMIER CHOIX</div>
          <h5>Édition complète</h5>
          <div class="price">
            99<sup>€</sup>
          </div>
          <p>L'édition complète est fournie avec les versions numériques du
          livre ainsi qu'un export de la base de données PostgreSQL et ses
          scripts de restauration. Cela vous permet de rejouer les 334
          requêtes du livre en utilisant les jeux de données présentés dans
          le livre !</p>
          <p><a data-slide=".descriptions_list" href="#">EN SAVOIR PLUS</a></p>
          <a class="button button_purple" href="https://sales.theartofpostgresql.com/fr-edition-complete/">PRE-COMMANDE</a>
        </div>
      </li>
      <li>
    	<div>
          <h5 style="color: #c0c0c0">Édition Papier</h5>
          <div class="price" style="color: #c0c0c0">
            129<sup>€</sup>
          </div>
          <p style="color: #c0c0c0">Une impression professionelle de 480
          pages offrant le même contenu. Vous bénéficiez également de tous
          les avantages de l'Édition Complète, y compris le contenu
          numérique afin de faciliter le copier/coller, et la base de
          données sur laquelle rejouer les requêtes SQL du livre !</p>
          <p><a style="color: #c0c0c0" data-slide=".descriptions_list" href="#">EN SAVOIR PLUS</a></p>
          <a style="color: #c0c0c0" class="button button_purple" href="#">EN ATTENTE</a>
        </div>
      </li>
      <li>
    	<div>
          <h5>Édition Entreprise</h5>
          <div class="price">
            229<sup>€</sup>
          </div>
          <p>Obtenez tout ce dont votre équipe entière a besoin pour
          apprendre à maîtriser le SQL. Cette édition inclue une licence
          permettant de partager le contenu du livre, les 334 requêtes SQL,
          et une copie de la base de données avec jusqu'à 15 personnes de
          votre entreprise !</p>
          <p><a data-slide=".descriptions_list" href="#">EN SAVOIR PLUS</a></p>
          <a class="button button_purple" href="https://sales.theartofpostgresql.com/fr-edition-entreprise/">PRE-COMMANDE</a>
        </div>
      </li>
    </ul>
    <header class="heading">
      <p class="margin">Vous aurez peut être besoin de plus de détails afin
      de faire votre choix. Notre tableau ci-dessous résume le contenu de
      chaque édition dans un format facile à comparer.</p>
      <p>
        <span class="option">⍟</span> Notez que vous pourrez ajouter la
        version imprimée du livre dans une deuxième étape après l'achat de
        toute édition présentée ci-dessous.
        <span class="option">⍟</span>
      </p>
    </header>
    <ul class="packages_table">
      <li>
        <ul>
          <li>Eléments inclus</li>
          <li>Standard</li>
          <li>Complète</li>
          <li>Papier</li>
          <li>Entreprise</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Le livre imprimé</li>
          <li><span class="option">⍟</span></li>
          <li><span class="option">⍟</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="option">⍟</span></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>L'e-Book</li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Les 6 Interviews</li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>PDF, ePub, MOBI</li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Requêtes SQL &amp; Code</li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Jeux de données</li>
          <li>&nbsp;</li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Exemples de normalization</li>
          <li>&nbsp;</li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Tests Unitaires</li>
          <li>&nbsp;</li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
          <li><span class="dot">&nbsp;</span></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Partage en groupe, jusqu'à 15 personnes</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li><span class="dot">&nbsp;</span></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Containeur docker interactif</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li><span class="dot">&nbsp;</span></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>&nbsp;</li>
          <li><a data-slide=".bestvalue" href="https://sales.theartofpostgresql.com/fr-standard-edition/">PRE-COMMANDE</a></li>
          <li><a data-slide=".bestvalue" href="https://sales.theartofpostgresql.com/fr-edition-complete/">PREMIER CHOIX</a></li>
          <li><a style="color: #c0c0c0" data-slide=".bestvalue" href="#">En ATTENTE</a></li>
          <li><a data-slide=".bestvalue" href="https://sales.theartofpostgresql.com/fr-edition-entreprise/">PRE-COMMANDE</a></li>
        </ul>
      </li>
    </ul>
    <ul class="descriptions_list">
      <li>
        <h6>Le livre</h6>
        <p>Le livre de 438 pages présente 334 reqûetes SQL. Chacune d'entre
        elle est présentée dans un contexte clair et détaillé en toutes
        lettres.</p>
      </li>
      <li>
        <h6>6 Interviews</h6>
        <p>Des interviews de vétérans de l'industrie sont proposées. Ces
        intervenants ont commencé à construire les applications webs au
        siècle dernier. Ils partagent avec nous leurs opinions et leur recul
        quant à la meilleure façon d'aborder le SQL.</p>
      </li>
      <li>
        <h6>PDF, ePub, MOBI</h6>
        <p>Les trois formats électroniques sont fournis pour une
        compatibilité sans faille avec vos différents écrans : tablette,
        téléphone, ordinateur. Le PDF a été conçu pour être facile à lire
        sur nos écrans modernes : essayez-le sur votre tablette !</p>
      </li>
      <li>
        <h6>Containeur docker</h6>
        <p>Une instance PostgreSQL pré-chargée avec les jeux de données
        présentés dans le livre est mise en avant par une application web
        interactive qui vous permet de rejouer chaque requête SQL du
        livre !</p>
      </li>
      <li>
        <h6>Jeux de données réels</h6>
        <p>Les jeux de données utillisés tout au long du livre représentent
        56 tables provenant de différentes sources Open Data. Parce qu'il
        est plus facile d'apprendre avec des exemples concrets, le livre
        contient 15 jeux de données bien réels.</p>
      </li>
      <li>
        <h6>Partage en groupes de 15 lecteurs</h6>
        <p>Partagez le livre et l'instance docker avec vos collègues,
        jusqu'à 15 personnes par license ! Un seul achat pour toute votre
        équipe ! Vous disposerez chacun d'une copie des fichiers mis à votre
        disposition et pourrez avancer à votre rythme.</p>
      </li>
      <li>
        <h6>Examples de normalisation</h6>
        <p>La modélisation de base de données est bien sûr abordée dans ce
        livre, et présentée de manière à montrer pourquoi ce sujet est
        intéressant pour vous, développeur d'application. Les examples
        concrets de normalisation incluent des scripts et une méthodologie
        que vous pourrez ré-utiliser dans vos projets.</p>
      </li>
      <li>
        <h6>Requêtes SQL &amp; Code</h6>
        <p>Toutes les éditions sont fournies avec les 334 requêtes chacune
        dans un fichier <tt>.sql</tt>. Vous disposez également des
        applications exemples écrites pour le livre — en Python, Go, et
        Java.</p>
      </li>
      <li>
        <h6>Tests Unitaires</h6>
        <p>Les applications sont fournies avec leurs tests unitaires et de
        non-régression. Nous utilisons l'outil RegreSQL pour rédiger les
        tests, et après avoir lu le livre vous voudrez certainement
        l'utiliserer aussi !</p>
      </li>
    </ul>
  </div>
</div>
<!-- /packages_block -->
