<!-- sql_list -->
<div class="sql_list">
  <ul>
    <li>
      <h2>Le SQL est du Code</h2>
      <div>
        <p>Apprenez à intégrer le SQL à votre processus de développement :
        gestion des versions, tests, relecture de code, déploiement. Le
        livre couvre les « best practices » permettant de travailler
        efficacement en SQL.</p>
      </div>
    </li>
    <li>
      <h2>Des examples concrets</h2>
      <div>
        <p>Apprenez le SQL avancé à l'aide d'exemples concerts appuyés sur
        des jeux de données qui aident à tirer le meilleur du livre !
        Chacune des nombreuses requêtes SQL du livre est présentée dans le
        contexte d'une question précise à laquelle répondre à partir des
        données fournies.</p>
      </div>
    </li>
    <li>
      <h2>Modélisation de base de données</h2>
      <div>
        <p>Le livre couvre les aspects de normalisation des modèles de
        données avec des exemples concrets et simples. Ceux-ci permettent de
        plonger dans un sujet qui pourrait être rebutant, et accompagne le
        lecteur jusqu'aux principes de mise en cache et de stratégie
        d'indexation.</p>
      </div>
    </li>
    <li>
      <h2>Le SQL pour les développeurs</h2>
      <div>
        <p>Ce livre a été pensé et rédigé pour les développeurs. Nous
        couvrons des techniques SQL avancées de traitement des données.
        Apprenez à obtenir précisemment le résultat nécessaire à votre
        application !</p>
      </div>
    </li>
    <li>
      <h2>Écrire du SQL efficace</h2>
      <div>
        <p>Écrire du SQL efficace est plus facile qu'il n'y parait. Cela
        commence avec une modélisation de base de données normalisée, étape
        indispensable à la rédaction de code clair. Le livre enseigne
        comment écrire des requêtes efficates… et rapides !</p>
      </div>
    </li>
    <li>
      <h2>Tout compris</h2>
      <div>
        <p>Le livre est fourni avec des jeux de données Open Data, et des
        instructions vous permettant de disposer d'une copie locale des
        données. Éditez et exécutez le SQL présenté dans le livre afin
        d'apprendre de manière interactive ! Nous fournissons même une
        configuration avancée de l'outil <tt>psql</tt>.</p>
      </div>
    </li>
  </ul>
</div>
<!-- /sql_list -->
