{{ partial "book/head.html" . }}
{{ partial "header.html" . }}
{{ partial "book/caroussel.html" . }}
{{ partial "book/hero.html" . }}
{{ partial "book/core-value.html" . }}
{{ partial "book/value.html" . }}
{{ partial "book/system-bridge.html" . }}
{{ partial "book/social-proof.html" . }}
{{ partial "book/course-bridge.html" . }}
{{ partial "book/workshop-teaser.html" . }}
{{ partial "book/fair-pricing-cta.html" . }}
{{ partial "book/final-cta.html" . }}
{{ partial "subscribe.html" . }}
{{ partial "footer.html" . }}
