{{ partial "index/head.html" . }}
{{ partial "header.html" . }}
{{ partial "index/caroussel.html" . }}
{{ partial "index/hero.html" . }}
{{- /* partial "index/value.html" . */ -}}
{{ partial "index/system.html" . }}
{{ partial "book/book.html" . }}
{{ partial "index/authority.html" . }}
{{ partial "taopv1/relevant.html" . }}
{{ partial "index/courses.html" . }}
{{ partial "index/workshops.html" . }}
{{ partial "index/lab.html" . }}
{{ partial "index/final-cta.html" . }}
{{ partial "index/ecosystem.html" . }}
{{ partial "subscribe.html" . }}
{{ partial "footer.html" . }}
