<div class="lab_final_cta">
  <div class="wrapper">
    <h3>Practice is where learning sticks</h3>
    <p>
      Use the lab to apply what you learn, then go further with the course
      or join a workshop when you’re ready to deepen your expertise.
    </p>
    <div class="cta_buttons">
      <a href="https://github.com/dimitri/TheArtOfPostgreSQL" class="button button_purple button_large" target="_blank">View on GitHub</a>
      <a href="/book" class="button button_outline">Buy the book</a>
    </div>
    <p style="margin-top: 2em;">
      Already have the book? Take the course.
    </p>
  </div>
</div>
