<div class="lab_upsell">
  <div class="wrapper">
    <header class="heading">
      <h3>Want a Structured Path?</h3>
    </header>
    
    <ul class="ecosystem_list">
      <li>
        <a href="/">
          <span class="ecosystem_icon">📖</span>
          <span class="ecosystem_label">Understand the concepts (book)</span>
        </a>
      </li>
      <li>
        <a href="/course">
          <span class="ecosystem_icon">🎓</span>
          <span class="ecosystem_label">Follow a structured path (course)</span>
        </a>
      </li>
      <li>
        <a href="/workshop">
          <span class="ecosystem_icon">🎤</span>
          <span class="ecosystem_label">Apply with expert guidance (workshop)</span>
        </a>
      </li>
    </ul>
  </div>
</div>
