<!-- quote_slider -->
<div class="quote_slider">
    <div class="wrapper">
        <ul>
            <li>
              <blockquote>
                <p>This book is on a higher level than generic software books. It explains the how's and why's of using Postgres's many feature. It is an excellent companion to the official Postgres documentation.&rdquo;</p>
                    <p>Bruce Momjian, PostgreSQL core team</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>Thanks for your fantastic book. It's helped me immensely in my current job. Technical books can often be a bore and hard to digest, but Mastering PostgreSQL was a pleasure to read.&rdquo;</p>
                    <p>Ben Davies</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>Thanks for your fantastic book. It's helped me immensely in my current job. Technical books can often be a bore and hard to digest, but Mastering PostgreSQL was a pleasure to read.&rdquo;</p>
                    <p>Ben Davies</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>At last the definitive Postgres book for app developers is out,  and from the amazing @tapoueh no less. Go get it!&rdquo;</p>
                    <p>Peter van Hardenberg</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>Full edition of &ldquo;Mastering PostgreSQL&#8230;&rdquo; is BRILLIANT! Not just best PG resource ever but best tech-learning package I've ever seen!&rdquo;</p>
                    <p>Derek Sivers</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>I knew &ldquo;Mastering PostgreSQL&rdquo; had to be good, but being typeset with XeTeX tops it!&rdquo;</p>
                    <p>Xavier Noria</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>Bought the ultimate PostgreSQL book for app developers from @tapoueh Go get it! You will learn many things!&rdquo;</p>
                    <p>Herv&eacute; Piedvache</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>The culprit seems to be @tapoueh's book and a few commits by someone learning #PostgreSQL best practices&#8230;&rdquo;</p>
                    <p>Cyril Brulebois</p>
                </blockquote>
            </li>
            <li>
                <blockquote>
                    <p>I just discovered your book  and am super excited to order it!&rdquo;</p>
                    <p>Lucas Charles</p>
                </blockquote>
            </li>
        </ul>
    </div>
</div>
<!-- /quote_slider -->
