<div class="book_social_proof">
  <div class="wrapper">
    <header class="heading">
      <h3>Trusted by developers</h3>
      <p class="lightpurple">Used in real systems</p>
    </header>
    
    <div class="quote_slider">
      <div class="quote-nav quote-prev"><i class="fa-solid fa-chevron-left"></i></div>
      <ul>
        <li class="active">
          <blockquote>
            <p>"This book is on a higher level than generic software books. It explains the how's and why's of using Postgres's many feature. It is an excellent companion to the official Postgres documentation."</p>
            <cite>Bruce Momjian, PostgreSQL core team</cite>
          </blockquote>
        </li>
        <li>
          <blockquote>
            <p>"At last the definitive Postgres book for app developers is out, and from the amazing @tapoueh no less. Go get it!"</p>
            <cite>Peter van Hardenberg</cite>
          </blockquote>
        </li>
        <li>
          <blockquote>
            <p>"Full edition of Mastering PostgreSQL is BRILLIANT! Not just best PG resource ever but best tech-learning package I've ever seen!"</p>
            <cite>Derek Sivers</cite>
          </blockquote>
        </li>
        <li>
          <blockquote>
            <p>"Thanks for your fantastic book. It's helped me immensely in my current job. Technical books can often be a bore and hard to digest, but Mastering PostgreSQL was a pleasure to read."</p>
            <cite>Ben Davies</cite>
          </blockquote>
        </li>
      </ul>
      <div class="quote-nav quote-next"><i class="fa-solid fa-chevron-right"></i></div>
      <div class="quote-dots"></div>
    </div>
    
    <div class="section_cta">
      <a href="https://sales.theartofpostgresql.com/" class="button button_purple">Get the Book</a>
    </div>
  </div>
</div>
