<div class="book_system_bridge">
  <div class="wrapper">
    <header class="heading">
      <h3>Start here, then go further</h3>
      <p class="lightpurple">The first step in a complete learning path</p>
    </header>
    
    <div class="system_flow">
      <div class="system_item">
        <span class="system_icon"><i class="fa-solid fa-book-open"></i></span>
        <h6>Book</h6>
        <p>Foundation &amp; reference</p>
      </div>
      <span class="system_arrow"><i class="fa-solid fa-arrow-right"></i></span>
      <div class="system_item">
        <span class="system_icon"><i class="fa-solid fa-graduation-cap"></i></span>
        <h6>Course</h6>
        <p>Structured learning</p>
      </div>
      <span class="system_arrow"><i class="fa-solid fa-arrow-right"></i></span>
      <div class="system_item">
        <span class="system_icon"><i class="fa-solid fa-microphone"></i></span>
        <h6>Workshop</h6>
        <p>Live deep dives</p>
      </div>
      <span class="system_arrow"><i class="fa-solid fa-arrow-right"></i></span>
      <div class="system_item">
        <span class="system_icon"><i class="fa-solid fa-flask"></i></span>
        <h6>Lab</h6>
        <p>Hands-on practice</p>
      </div>
    </div>
    
    <p class="bridge_text">
      The book gives you the foundation. Everything else builds on it.
    </p>
    
    <div class="section_cta">
      <a href="/course/" class="button button_transparent">Continue with the Course</a>
    </div>
  </div>
</div>
