<!-- container -->
<div class="container">
	<div class="wrapper">
	    <header class="heading">
    		<h1>The Art of PostgreSQL</h1>
    		<h4>The book that teaches SQL to developers: Learn to replace thousands of lines of code with simple queries!</h4>
    	</header>
    	<ul class="services_list">
    	    <li>
    	        <p><img src="images/icons/plus.png" alt="" /></p>
    	        <p><strong>New Chapter</strong></p>
    	        <p>This second edition of the book includes a whole new
    	         chapter about PostgreSQL Extensions.</p>
                <p>Written by the author of the <tt>CREATE EXTENSION</tt>
    	         command!</p>
    	    </li>
    	    <li>
    	        <p><img src="images/icons/bookmark.png" alt="" /></p>
    	        <p><strong>Second Edition</strong></p>
    	        <p> The Art of PostgreSQL is the new title of <i>“Mastering
    	         PostgreSQL in Application Development”</i>, acclaimed one
    	         of the very best resources around to learn SQL!</p>
    	    </li>
    	    <li>
    	        <p><img src="images/icons/arrow.png" alt="" /></p>
    	        <p><strong>Upgrade to Hardcover</strong></p>
    	        <p>Because the first edition of the book has been so well
    	        received, the second edition is now available as a hardcover
    	        printed format, making it a strong fit for your library!</p>
    	    </li>
    	</ul>
	</div>
</div>
<!-- /container -->
