 
<!-- footer -->
<footer class="footer">
	<div class="wrapper">
	    <div class="about_block">
	        <h6>about the author</h6>
	        <p>Hi! My name is Dimitri Fontaine and I have been using and contributing to Open Source Software for the best of the last 20 years. I am a PostgreSQL Major Contributor after having contributed Extensions and Event Triggers, among other things.</p>
	        <p>I have been writing code almost daily for a very long time now, both in a professional capacity and on my leisure time. I&rsquo;ve also been a database architect and a DBA on-call. As a developer I enjoy using SQL. As a database architect, I like teaching advanced SQL techniques to my colleagues.</p>
	        <ul>
	            <li><a target="_blank" href="mailto:dim@tapoueh.org">email</a></li>
	            <li><a target="_blank" href="https://twitter.com/tapoueh">twitter</a></li>
	            <li><a target="_blank" href="https://github.com/dimitri">github</a></li>
	            <li><a target="_blank" href="https://www.reddit.com/user/theartofpostgresql">reddit</a></li>
	        </ul>
    	</div>
	    <div class="faq_block">
            <h6>FAQ</h6>
	        <dl>
	           <dt>What if the book isn&rsquo;t what I expected it would be?</dt>
	           <dd>The Art of PostgreSQL is a book that teaches SQL to application developers. If it's not of any value to you, then just say so and I'll refund you, no questions asked.</dd>
	           <dt>I bought the book, and I'm confused. What now?</dt>
	           <dd>The content of the book is available as a PDF, ePub and MOBI file, and you can also download the SQL queries. The content is available over at <a href="https://postgresql.thinkific.com/enrollments" target="_">https://postgresql.thinkific.com/</a> from your student dashboard.</dd>
	           <dt>Is there any DRM?</dt>
	           <dd>No. There isn't even watermarking on the PDF. You own what you buy. The sources of data selected for the book are all available with Open Data types of licenses, and the book itself is copyright Dimitri Fontaine. All rights reserved.</dd>
	           <dt>Any other questions?</dt>
	           <dd>Contact me by <a href="mailto:dim@tapoueh.org">email</a> and just ask! I will do my best to answer you.</dd>
	        </dl>
                <div style="font-size: 150%; margin-top: 3em;">
                  <h6>Languages</h6>
                  <a href="/">🇬🇧</a>
                  <a href="/fr/">🇫🇷</a>
                </div>  
    	    </div>            
	</div>
</footer>
<!-- /footer -->




<!-- copyright -->
<div class="copyright">
    <div class="wrapper">
        Copyright 2019 &copy; Dimitri Fontaine. All rights reserved. Design by <a style="color: white; font-weight: bold;" target="_blank" href="https://www.terrilowry.com">TerriLowry.com.</a>
    </div>
</div>
<!-- /copyright -->

</body>

<!-- Subscribers Integration -->
<script type="text/javascript">
  var subscribersSiteId='1296f531-7ba0-406f-89e1-bdca40a36208';
</script>
<script type="text/javascript"
        src="https://cdn.subscribers.com/assets/subscribers.js">
</script>
 

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47059482-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47059482-5');
</script>

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o0ial');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

</html> 
