<!-- header -->
<header class="header">
	<div class="wrapper">
		<a class="logo" href="#">The Art of PostgreSQL</a>
		<!-- top menu -->
		<nav>
			<ul>
				<li><a data-slide=".subscribe_block" href="#">The Book</a></li>
				<li><a data-slide=".packages_block" href="#">PACKAGES</a></li>
				<li><a data-slide=".about_block" href="#">AUTHOR</a></li>
				<li><a data-slide=".quote_slider" href="#">BLOG</a></li>
			</ul>
		</nav>
		<!-- /top menu -->
	</div>
    <a data-slide=".price_list" class="button" href="#">PURCHASE</a>
</header>
<!-- /header -->




