<!-- header -->
<header class="header">
  <div class="wrapper">
    <nav>
      <ul>
	<li><a href="/book/"><i class="fa-solid fa-book-open"></i><span class="nav-text">BOOK</span></a></li>
	<li class="divider"></li>
	<li><a class="logo" href="/">The Art of PostgreSQL</a></li>
	<li class="divider"></li>
	<li><a href="/course/"><i class="fa-solid fa-graduation-cap"></i><span class="nav-text">COURSE</span></a></li>
	<li class="divider"></li>
	<li><a href="/workshop/"><i class="fa-solid fa-microphone"></i><span class="nav-text">WORKSHOP</span></a></li>
	<li class="divider"></li>
	<li><a href="/lab/"><i class="fa-solid fa-flask"></i><span class="nav-text">LAB</span></a></li>
	<li class="divider"></li>
	<li><a class="logo" href="/">The Art of PostgreSQL</a></li>
	<li class="divider"></li>
	<li><a href="/blog/"><i class="fa-solid fa-pen-to-square"></i><span class="nav-text">BLOG</span></a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- /header -->




