<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The Art of PostgreSQL: a modern PostgreSQL book in 2019</title>
	<meta name="description" content="The PostgreSQL book for developers that teaches you how to turn thousands of lines of code into simple queries.">

        <!-- twitter card integration -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@tapoueh" />
        <meta name="twitter:creator" content="@tapoueh" />
        <meta property="og:url" content="https://theartofpostgresql.com" />
        <meta property="og:title" content="The Art of PostgreSQL" />
        <meta property="og:description" content="The book that teaches SQL to developers: Learn to replace thousands of lines of code with simple queries!" />
        <meta property="og:image" content="https://theartofpostgresql.com/images/hardcover-mockup.jpg" />
	
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	
	<!-- Favicon -->
	<link href="/images/favicon.ico" rel="icon" type="image/x-icon">
	
	<!-- Stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet"> 
	<link rel="stylesheet" href="/css/style.css">
	
	<!-- JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
	<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="/js/custom.js"></script>

</head>
<body>


