<!-- header -->
<header class="header">
  <div class="wrapper">
    <nav>
      <ul>
	<li><a href="/book/"><i class="fa-solid fa-book-open"></i><span class="nav-text">BOOK</span></a></li>
	<li class="divider"></li>
	<li><a class="logo" href="/">The Art of PostgreSQL</a></li>
	<li class="divider"></li>
	<li><a href="/course/"><i class="fa-solid fa-graduation-cap"></i><span class="nav-text">COURSE</span></a></li>
	<li class="divider"></li>
	<li><a href="/workshop/"><i class="fa-solid fa-microphone"></i><span class="nav-text">WORKSHOP</span></a></li>
	<li class="divider"></li>
	<li><a href="/login/"><i class="fa-solid fa-arrow-right-to-bracket"></i><span class="nav-text">LOGIN</span></a></li>
	<li class="divider"></li>
	<li><a class="logo" href="/">The Art of PostgreSQL</a></li>
	<li class="divider"></li>
	<li><a href="/yesql/"><i class="fa-solid fa-pen-to-square"></i><span class="nav-text">YESQL</span></a></li>
      </ul>
    </nav>
    <div class="sticky-cta-wrapper">
      <a href="https://sales.theartofpostgresql.com/the-art-of-postgresql-book/" class="sticky-cta button button_purple">Get the Book – $89</a>
    </div>
  </div>
</header>
<!-- /header -->




