<!-- packages_block -->
<div class="packages_block">
	<div class="wrapper">
	    <header class="heading">
    		<h1>The Packages</h1>
    		<p class="lightpurple">
                 The Art of PostgreSQL comes in a choice of four packages.<br/>
                 From the Standard Edition package onward, all your needs
                 are covered…</p>
                <div style="position:absolute;bottom:100%;left:0;width:100%;color:#fff;font-weight:400;letter-spacing:5px;background:#60b2d3;padding:12px;box-sizing:border-box;">
                 <p style="font-size: 150%;">
                  August only: get 15% discount using the code “POSTGRESQL”!
                 </p>
                </div>
    	    </header>
    	<ul class="price_list">
    	    <li>
    	        <div>
        	        <h5>Standard Edition</h5>
        	        <div class="price">
                         <span style="font-size: 35px; text-decoration: line-through; text-decoration-color: red;">49</span>
                         <sup>$</sup>41
                        </div>
        	        <p>The real deal, 438 pages of advanced SQL teaching, just for you. You get the PDF version, the ePub version, and the MOBI version too. And the SQL queries as separate files too!</p>
        	        <p><a data-slide=".descriptions_list" href="#">LEARN MORE</a></p>
                    <a class="button button_purple" href="https://sales.theartofpostgresql.com/standard-edition/?coupon=POSTGRESQL">PURCHASE</a>
        	    </div>
    	    </li>
    	    <li class="bestvalue">
    	        <div>
    	            <div class="best">MOST POPULAR</div>
        	        <h5>Full Edition</h5>
        	        <div class="price">
                         <span style="font-size: 35px; text-decoration: line-through; text-decoration-color: red;">99</span>
                         <sup>$</sup>84
                        </div>
        	        <p>The Full Edition comes with the electronic book package and an archive with a PostgreSQL dump file ready to be restored in your own instance, plus all the 334 queries as separate files for you to run and edit!</p>
        	        <p><a data-slide=".descriptions_list" href="#">LEARN MORE</a></p>
                    <a class="button button_purple" href="https://sales.theartofpostgresql.com/full-edition/?coupon=POSTGRESQL">PURCHASE</a>
        	    </div>
    	    </li>
    	    <li>
    	        <div>
        	        <h5>Dead Tree Edition</h5>
        	        <div class="price">
                         <span style="font-size: 35px; text-decoration: line-through; text-decoration-color: red;">129</span>
                         <sup>$</sup>110
                        </div>
        	        <p>A professionally printed paperback of 480 pages, with the same content. You also have the benefits of the Full Edition including the copy/paste friendly content, the queries, and the database to use to replay the queries from the book!</p>
        	        <p><a data-slide=".descriptions_list" href="#">LEARN MORE</a></p>
                    <a class="button button_purple" href="https://sales.theartofpostgresql.com/the-dead-tree-edition/?coupon=POSTGRESQL">PURCHASE</a>
        	    </div>
    	    </li>
    	    <li>
    	        <div>
        	        <h5>Enterprise Edition</h5>
        	        <div class="price">
                         <span style="font-size: 35px; text-decoration: line-through; text-decoration-color: red;">229</span>
                         <sup>$</sup>195
                        </div>
        	        <p>Everything you need for your whole team to master SQL, including a licence to share the electronic version of the book, the database, the 334 query files and a licence to share everything with up to 15 people in your enterprise!</p>
        	        <p><a data-slide=".descriptions_list" href="#">LEARN MORE</a></p>
        	        <a class="button button_purple" href="https://sales.theartofpostgresql.com/enterprise-edition/?coupon=POSTGRESQL">PURCHASE</a>
        	    </div>
    	    </li>
    	</ul>
        <header class="heading">
         <p class="margin">Still not sure what package is best for you? See the chart below for side-by-side comparisons and read the full details below.</p>
         <p>
          <span class="option">⍟</span>
          Note that you can add the physical book as an add-on in the checkout process.
          <span class="option">⍟</span>
         </p>
        </header>
        <ul class="packages_table">
            <li>
                <ul>
                    <li>Packages Include</li>
                    <li>Standard</li>
                    <li>Full Edition</li>
                    <li>Dead Tree</li>
                    <li>Enterprise</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>The Paperback Book</li>
                    <li><span class="option">⍟</span></li>
                    <li><span class="option">⍟</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="option">⍟</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>The e-Book</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>6 Interviews</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>PDF, ePub, MOBI</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>SQL Queries &amp; Code</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Real World Dataset</li>
                    <li>&nbsp;</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Normalization Examples</li>
                    <li>&nbsp;</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Unit Tests</li>
                    <li>&nbsp;</li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Sharing License</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>Docker Container</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li><span class="dot">&nbsp;</span></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>&nbsp;</li>
                    <li><a data-slide=".bestvalue" href="https://sales.theartofpostgresql.com/standard-edition/?coupon=LAUNCH2019">Buy Now</a></li>
                    <li><a data-slide=".bestvalue" href="https://sales.theartofpostgresql.com/full-edition/?coupon=LAUNCH2019">Most Popular</a></li>
                    <li><a data-slide=".bestvalue" href="https://sales.theartofpostgresql.com/the-dead-tree-edition/?coupon=LAUNCH2019">Buy Now</a></li>
                    <li><a data-slide=".bestvalue" href="https://sales.theartofpostgresql.com/enterprise-edition/?coupon=LAUNCH2019">Buy Now</a></li>
                </ul>
            </li>
        </ul>
        <ul class="descriptions_list">
            <li>
                <h6>The Book</h6>
                <p>The Book is a 438 pages full of SQL queries. 334 of them actually, all answering a very clear use-case, that is given in plain English. Every query is explained in details.</p>
            </li>
            <li>
                <h6>6 Interviews</h6>
                <p>Interviews from industry veterans who began building web application in the previous century. They&rsquo;ve been there and have opinions to share about how to approach SQL.</p>
            </li>
            <li>
                <h6>PDF, ePub, MOBI</h6>
                <p>The whole electronic reading kit for all your devices: tablet, phone and desktop computer are covered. The PDF is carefully edited to target modern display formats (try it on your tablet!).</p>
            </li>
            <li>
                <h6>Docker Container</h6>
                <p>A PostgreSQL instance loaded with all the data from the book, and running a web based application that allows playing with every SQL query from the book!</p>
            </li>
            <li>
                <h6>Real World Dataset</h6>
                <p>The datasets from the book with 56 tables already loaded from their Open Data sources. We all learn better with concrete examples. You have 15 datasets available in the docker image.</p>
            </li>
            <li>
                <h6>Sharing License</h6>
                <p>Share the book and the docker instance with up to 15 people in your enterprise! Yes, you buy once, then share. You may even run each your own container if you prefer that, of course.</p>
            </li>
            <li>
                <h6>Normalization Examples</h6>
                <p>We also cover how to design a database model and why as a developer you should care about normalizing it. With practical examples and normalization scripts.</p>
            </li>
            <li>
                <h6>SQL Queries + Code</h6>
                <p>The Enterprise Edition&rsquo;s docker image also includes the 334 queries as .sql files, plus the code of the sample applications presented in the book.</p>
            </li>
            <li>
                <h6>Unit Tests</h6>
                <p>The application code is available with its SQL Regression Testing suite, using RegreSQL. Check out this tool, you might need it soon&#8230;</p>
            </li>
        </ul>
	</div>
</div>
<!-- /packages_block -->
