<!-- sql_list -->
<div class="sql_list">
    <ul>
        <li>
            <h2>SQL is Code</h2>
            <div>
                <p>Learn how to deal with SQL in your developer workflow: versioning, testing, code reviewing, deployment. Best practice and tools are covered.</p>
            </div>
        </li>
        <li>
            <h2>Practical Examples</h2>
            <div>
                <p>Learn advanced SQL with practical examples and datasets that help you get the most of the book! Every query solves a practical use case and is given in context.</p>
            </div>
        </li>
        <li>
            <h2>Database Modeling</h2>
            <div>
                <p>The book covers (de-)normalisation with simple practical examples to dive into this seemingly complex topic, including Caching and Indexing Strategy.</p>
            </div>
        </li>
        <li>
            <h2>SQL For Developers</h2>
            <div>
                <p>This book is for developers, covering advanced SQL techniques for data processing. Learn how to get exactly the result set you need in your application&rsquo;s code!</p>
            </div>
        </li>
        <li>
            <h2>Write Efficient SQL</h2>
            <div>
                <p>Writing efficient SQL is easier than it looks, and begins with database modeling and writing clear code. The book teaches you how to write fast queries!</p>
            </div>
        </li>
        <li>
            <h2>Batteries Included</h2>
            <div>
                <p>The book comes with open data sets and instructions to get them so that you can run all the SQL queries at home, edit them and learn from them. Advanced psql setup is even included!</p>
            </div>
        </li>
    </ul>
</div>
<!-- /sql_list -->
