<div class="book_social_proof">
  <div class="wrapper">
    <header class="heading">
      <h3>What attendees say</h3>
      <p class="lightpurple">From past Masterclass sessions</p>
    </header>

    <div class="quote_slider">
      <div class="quote-nav quote-prev"><i class="fa-solid fa-chevron-left"></i></div>
      <ul>
        <li class="active">
          <blockquote>
            <p>"This workshop is a one-stop shop for fully understanding window functions. The presentation was smooth, and Dimitri was very open to discussion and questions. We will definitely be recommending this to our fellow devs!"</p>
            <cite>Paul-Henri Bonnement, Window Functions Masterclass student</cite>
          </blockquote>
        </li>
        <li>
          <blockquote>
            <p>"As an experienced programmer but not an experienced SQL programmer, I found I was able to follow along just fine and appreciated the straightforward examples and explanations."</p>
            <cite>Jennifer Chandler, Window Functions Masterclass student</cite>
          </blockquote>
        </li>
      </ul>
      <div class="quote-nav quote-next"><i class="fa-solid fa-chevron-right"></i></div>
      <div class="quote-dots"></div>
    </div>

    <div class="section_cta">
      <a href="https://sales.theartofpostgresql.com/the-art-of-postgresql-masterclass/" class="button button_purple">Join the Masterclass</a>
    </div>
  </div>
</div>
