{{ partial "course/head.html" . }}
{{ partial "header.html" . }}
{{ partial "course/hero.html" . }}
{{ partial "course/early-access.html" . }}
{{ partial "book/social-proof.html" . }}
{{ partial "course/what-you-get.html" . }}
{{ partial "course/pricing.html" . }}
{{ partial "course/already-reader.html" . }}
{{ partial "course/course-overview.html" . }}
{{ partial "course/value.html" . }}
{{ partial "course/book-inclusion.html" . }}
{{ partial "course/faq.html" . }}
{{ partial "course/final-cta.html" . }}
{{ partial "subscribe.html" . }}
{{ partial "course/top-banner.html" . }}
{{ partial "footer.html" . }}
