<aside class="sidebar">
 <div class="about_author">
  <h6>ABOUT</h6>
  <div data-cover=".cover"><img class="cover" src="/images/demo/author.jpg" alt="" /></div>
  <p>Hi! My name is Dimitri Fontaine and I have been using and contributing to Open Source Software for the best of the last 20 years.</p>
  <p><a data-slide=".about_block" href="#">READ MORE +</a></p>
  <ul>
   <li><a target="_blank" href="mailto:dim@tapoueh.org">email</a></li>
   <li><a target="_blank" href="https://twitter.com/tapoueh">twitter</a></li>
   <li><a target="_blank" href="https://github.com/dimitri/tapoueh.org">github</a></li>
   <li><a target="_blank" href="https://www.reddit.com/user/theartofpostgresql">reddit</a></li>
  </ul>
 </div>
 
 <div class="meta" style="padding-bottom: 0px; margin-bottom: 2em;">
   <h6>TOOLS</h6>
   <ul>
     <li style="text-align: center">
       <a href="/compute-database-size/">
         <img src="/img/growth-icon.png">Compute Database Size</a>
     </li>
     <li style="text-align: center">
       <a href="/explain-plan-visualizer/">
         <img src="/img/pev-icon.png">Query Plan Visualizer</a>
     </li>
   </ul>
 </div>

 <a href="/#packages" class="banner"><span>What if you could turn thousands of lines of code into simple queries?</span></a> 

 <div class="meta">
  <h6>RECENT POSTS</h6>
  <ul>
   {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
   {{ range first 5 $paginator.Pages }}
   <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
   {{ end }}
  </ul>
 </div>
 
</aside>
