        <aside class="single_sidebar">
            <h6>RECENT POSTS</h6>
            <ul>
                <li><a href="#">Geolocation with PostgreSQL</a></li>
                <li><a href="#">PostgreSQL Concurrency: <br />an Article Series</a></li>
                <li><a href="#">Scheduled Data Processing: <br />How to use cron?</a></li>
                <li><a href="#">Batch Updates and Concurrency</a></li>
            </ul>
            <h6>CATEGORIES</h6>
            <ul>
                <li><a href="#">Concurrency</a></li>
                <li><a href="#">Batch</a></li>
                <li><a href="#">Update</a></li>
                <li><a href="#">Data Types</a></li>
            </ul>
            <h6>TAGS</h6>
            <div class="tag_list">
                <a href="#">PostgreSQL</a>, <a href="#">YeSQL</a>, <a href="#">Security</a>, <a href="#">SQL Injection</a>, <a href="#">Concurrency</a>, <a href="#">Batch</a>, <a href="#">Update</a>, <a href="#">Data Types</a>, <a href="#">Point</a>, <a href="#">Geolocation</a>,  <a href="#">Extensions</a>, <a href="#">Listen</a>, <a href="#">Notify</a>, <a href="#">GoLang</a>, <a href="#">Cron</a>, <a href="#">Opinion</a>, <a href="#">MOMA</a>
            </div>
        </aside>
