<aside class="single_sidebar">
 <h6>RECENT POSTS</h6>
 <ul>
 {{ with .PrevInSection }}
 <li><a class="previous" href="{{.Permalink}}"> {{.Title}}</a></li>
 {{ end }}
 {{ with .NextInSection }}
 <li><a class="next" href="{{.Permalink}}"> {{.Title}}</a></li>
 {{ end }}
 </ul>
 
 <h6>TAGS</h6>
 <div class="tag_list">
  {{ with .Params.tags }}
   {{ range . }}
     <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
   {{ end }}
  {{ end }}
 </div>

 <a href="/#packages" class="banner"><span>What if you could turn thousands of lines of code into simple queries?</span></a>
 
</aside>
