{{ partial "post/head.html" . }}
{{ partial "post/header.html" . }}

<div class="blog_block">
    <div class="top_blogs">
        <ul>
         {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
         {{ range first 3 $paginator.Pages }}
         {{ partial "list/top3articles.html" . }}
         {{ end }}         
        </ul>
    </div>

    <header>
     <h3>The Art of PostgreSQL, one article at a time</h3>
     <p>
      The Art of PostgreSQL blog introduces PostgreSQL concepts that are
      useful for application developers. The content of this blog is either
      extracted from the published book, or written in preparation for book
      material. Reading this blog, you can enjoy The Art of PostgreSQL
      content one piece at a time!
     </p>
     <p>
      Remember to practice what you learn here and elsewhere!
     </p>
    </header>
    
    <div class="wrapper">        
        <div class="posts_wrap">
          {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
          {{ range $paginator.Pages }}
            {{ .Render "summary" }}
          {{ end }}
        </div>

        {{ partial "post/sidebar.html" . }}
        
    </div>

    <!-- <div class="pager"> -->
    <!--  <ul> -->
    <!--   <li><a class="prev" href="#"><</a></li> -->
    <!--                                 <li><span>1</span></li> -->
    <!--   <li><a href="#">2</a></li> -->
    <!--   <li><a class="next" href="#">></a></li> -->
    <!--  </ul> -->
    <!-- </div> -->
        
    </div>
</div>
        
{{ partial "footer.html" . }}
